name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Get code
      uses: actions/checkout@v5
    - name: Install deps
      run: npm ci
    - name: Build project
      run: npm run build
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-files
        path: build
