name: Test React App
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get repo code
        uses: actions/checkout@v5
      - name: Install dependencies
        run: npm install
      - name: Test application
        run: npm test

